h1,h2,h3,h4,p, a, li {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: clamp(2vw, 50px, 5vw);
}

h2 {
    font-weight: 700;
    font-size: clamp(1vw, 25px, 2vw);
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    transition: 0.3s;
    width: 100vw;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
    margin: 0;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#slide1 img {
    max-width: 300px;
}

/*Navigation*/
.navigation {
    font-size: 100px;
    font-weight: 700;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}
.navigation:hover {
    color: darkgray;
}
#forwards.navigation {
    right: 15px;
}
#backwards.navigation {
    left: 15px;
}
#slide1.active {
    transform: translateX(-100%);
}
#forwards.navigation.active {
    transform:translateX(150%);
}
#backwards.navigation.active {
    transform: translateX(-150%);
}

.sliderWrapper {
    display: flex;
    width: 200vw;
}

#slide2 {
    transform: translateX(-100%);
}

#slide2.active {
    transform: unset;
}

.slide p {
    max-width: 800px;
}